// styles apply only to screen sizes above 1140px
@media only screen and (min-width: 1140px) {

    /*--------- BODY ---------*/
    body {
        background-image: url(../images/polonez_car.png);
    }

    .page {
        max-width: 100rem;
        margin: 1rem auto;
        box-shadow: 0 0 10px #000;
    }

    
    /*--------- NAV ---------*/
    .nav ul {
        margin-left: $gutter;
        justify-content: unset;

        & li {
            width: auto;
            border: none;

            & :first-child {
                border-left: 1px solid rgba(0,0,0,0.3);
            }

            & :last-child {
                border-right: 1px solid rgba(0,0,0,0.3);
            }

            & a {
                padding: 1rem;
                font-size: 1.2rem;
            }
        
        }
    }


    /*--------- MAIN ---------*/
    .page-contents {

        .container-banner {
            max-width: 45rem;
            margin: 0 auto;
        }

        .container-items {

            .container-photo {
                width: 25%-$gutterDouble;
                }
        }

        .blog {
            display: flex;
            flex-wrap: wrap;

            & article {
                margin: 0.5rem $gutter;
                width: 33.33%-$gutterDouble;
            }

            & h3 {
                font-size: 1.2 rem;
                color: lighten($primaryColor, 10%);
            }

            & p {
                line-height: 130%;
                color: $fontColor;
            }
        }
    }

}