// styles apply only to screen sizes above 560px
@media only screen and (min-width: 560px) {


    /*--------- MAIN ---------*/
    .page-contents {
    
        & .container-items {

            display: flex;
            flex-wrap: wrap;

            & .container-photo {
                width: 50%-$gutterDouble;
                }
        }

        .blog {
            display: flex;
            flex-wrap: wrap;

            & article {
                margin: 0.5rem $gutter;
                width: 50%-$gutterDouble;
            }

            & h3 {
                font-size: 1.2 rem;
                color: lighten($primaryColor, 10%);
            }

            & p {
                line-height: 130%;
                color: $fontColor;
            }
        }
    }

}