//  Colors
$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;

//  Sizing
$gutter: 4%;
$gutterDouble: (2 * $gutter);

//  fonts
$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;