/* Prevent adjustments of font size after orientation change in IE on Windows phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Apply a natural box layout model to all elements */
* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

.header {
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 1rem $gutter;

    & h1 {
        font-size: 2rem;
        font-weight: $normalWeight;
    }

    & h2 {
        font-size: 1.38rem;
        font-weight: $normalWeight;
    }
}

.nav {
    background-color: $secondaryColor;
    border-bottom: 1px solid rgba(0,0,0,0.3);

    & ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       
        & li {
            width:25vw;
            min-width: 5rem;
            border-right: 1px solid rgba(0,0,0,0.3);

            &.active a {
                background-color: darken($color: $secondaryColor, $amount: 15%)
            }
            
            & a {                
                text-decoration: none;
                display: block;
                text-align: center;
                font-weight: $boldWeight;
                padding: 0.5rem 0;
                color: $primaryColor;
                transition: background 0.5s ease, color 0.5s ease;
                
                &:hover {
                    color: $secondaryColor;
                    background-color: $primaryColor;
                }
            }
        }

        & li:last-child {
            border-right: none;
        }
    }
}